body{
    margin: 0;
    padding: 0;
    color: #3b3b3b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
}
#container
{
    width: 968px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
#main_image{
    background-color: url("../stronka/css/images/check_comp.jpg");
    background-repeat: no-repeat;
    width: 968px;
    height: 376px;

    right: 60px;
}
#left_column,#center_column, #right_column {
    width: 316px;
    float: left;

}
#center_column
{
    margin: 0 10px;
}
h1
{
    font-family: sarina, sans-serif;
    font-size: 90px;
    margin: 0;
    float: left;
    padding-left: 5px;
    padding-right: 20px;
}
#header {
    background-color: black;
    color: white;
    height:100px;
    position: relative;
}
#header p{
    font-size: 30px;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 0;
    font-family: sarina, sans-serif;
    padding-top: 10px;
    m

}
#header a{
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;

}
#header ul{
    list-style-type: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;

}
#header li{
    float:left;

}
#main_text{
    background-color: white;
    width: 300px;
    position: absolute;
    padding: 20px;
    opacity: 0.8;
    border-radius: 10px;
}
#left_column, #right_column, #center_column{
    margin: 5px 0;

}
#left_column img, #center_column img. #right_column img{
    margin: 10px 0;
}
#main_text h2{
color: aquamarine;
margin: 0;
font-size: 18px;
}
#main_text h3{
    font-size: 16px;
    margin:0;

}
#main_text p{
    line-height: 1.2em;
    margin: 0;
    text-align: justify;
}